.bg-prim{background-color: rgb(153, 148, 148);}
.color-prim{color: #f98260;}
$color_secondary:#fff;
$color_heading: #f4f4f4;
$color_links:#333;
/*NAVBAR HOVER*/

.hov{
    transition: all .4s ease-out;
}
/*HERO CONTENT*/
.hero-content{
    top:30%;
    width: 530px;
    margin:  2px 0px;
    h1{
        font-size: 1.7rem;
        width: 300px;
    }
    h3{
        font-size: 1.5rem;
        width: 350px;
    }
    .btn{
        font-size:15px;
    }
    @media (max-width:765px){
        top:27%;
        h1{
           font-size:  calc(.9rem + 0.5vw);
        }
        h3{
            font-size: calc(1.0rem + -0.4vw);
            width: 204px;
        }
        width: 310px;
        .btn{
            font-size:10px;
            margin: 0 !important;
        }
    }
    @media (max-width:452px){
        top:16%;
        width: 200px;
        h1{
            font-size: calc(.8rem + -0.5vw);
            }
            h3{
                line-height: .5;
                width: 120px;
                font-size: calc(.6rem + -0.4vw);
            }   

             .btn{
                font-size:6px;
                margin: 0 !important;
            }
    }
    @media (max-width:280px){
        top:25%;
        width: 190px;
        h1{
            font-size: calc(0.6rem + -1.5vw);
            }
            h3{
                width: 70px;
                font-size: calc(0.6rem + -2.4vw);
            }   
            .btn{
                font-size:4px;
                padding: 2px !important;
                margin-bottom: 22px !important;
            }
    }
}
/*LIVING ROOM*/
.living-room{
.slider{
    width: 750px;
    margin:  40px 20px;
    .arrow{
        width: 50px;
        float: left;
        margin-top: 180px;
        cursor: pointer;
    }
    .slide{
            width: 600px;
            height: 400px;
            overflow: hidden;
            position: relative;
            float: left;
            .show{
                display: inline-block;
            }
            .showw{
                display: inline-block;
            }
        img{
            width: 100%;
            height: 100%;
            border-radius: 15px;
            display: none;
        }
    }
}
.title{
    width: 500px;
    height: 350px;
    padding: 4px;
}
@media(max-width:1208px){
    .slider{
        width: 750px;
        margin:  40px 10px;
        .arrow{
            width: 50px;
            float: left;
            margin-top: 180px;
            cursor: pointer;
        }
        .slide{
                width: 600px;
                height: 400px;
                overflow: hidden;
                position: relative;
                float: left;
                .show{
                    display: inline-block;
                }
            img{
                width: 100%;
                height: 100%;
                border-radius: 15px;
                display: none;
            }
        }
    }
    .title{
        width: 350px;
        height: 350px;
        padding: auto 4px !important;
        margin-right: 10px;
    }
    h1{
        margin-top: 0px !important;
    }
}
@media(max-width:1080px){
    .slider{
        width:550px;
        margin:  40px 10px;
        .arrow{
            width: 50px;
            float: left;
            margin-top: 130px;
            cursor: pointer;
        }
        .slide{
                width: 400px;
                height: 300px;
                overflow: hidden;
                position: relative;
                float: left;
                .show{
                    display: inline-block;
                }
            img{
                width: 100%;
                height: 100%;
                border-radius: 15px;
                display: none;
            }
        }
    }
    .title{
        width: 350px;
        height: 350px;
        padding: auto 4px !important;
    }
    h1{
        margin-top: 0px !important;
    }
}

@media(max-width:870px){
    .slider{
        width:650px;
        margin:  40px 10px;
        .arrow{
            width: 40px;
            float: left;
            margin-top: 91px;
            cursor: pointer;
        }
        .slide{
                width: 350px;
                height: 210px;
                overflow: hidden;
                position: relative;
                float: left;
                .show{
                    display: inline-block;
                }
            img{
                width: 100%;
                height: 100%;
                border-radius: 15px;
                display: none;
            }
        }
    }
    .title{
        width: 350px;
        height: 350px;
        h1{
            margin-top:0rem!important;
        }
        .mt-3{
            margin-top:0rem !important;
        }
        .lh-lg{
            line-height: 1.8 !important;;
        }
    }
}

@media(max-width:756px){
    .slider{
        width:100%;
        margin-top: 0px !important;
        text-align: center;
        .arrow{
            width: 30px;
            float: left;
            margin-top:85px;
            cursor: pointer;
        }
        .slide{
                width: 76%;
                height: 190px;
                overflow: hidden;
                position: relative;
                float: left;
                .show{
                    display: inline-block;
                }
            img{
                width: 100%;
                height: 100%;
                border-radius: 15px;
                display: none;
            }
        }
    }
    .title{
        width: 90%;
        height: 265px;
        padding:  0px 1px !important;
        text-align: center;
        
        h1{
            margin-top: 10px !important;
             }
             p{
                line-height: 0px;
                margin: 0px;  
             }
             .btn{
                margin-top: 10px !important;
                font-size: 15px;
                padding: 2px;
             }
    }   
}
}
/*kitchen ROOM*/
.kitchen-room{
    .slider{
        width: 750px;
        .arrow{
            width: 50px;
            float: left;
            margin-top: 180px;
            cursor: pointer;
        }
        .slide{
                width: 600px;
                height: 400px;
                overflow: hidden;
                position: relative;
                float: left;
                .show{
                    display: inline-block;
                }
                .showw{
                    display: inline-block;
                }
            img{
                width: 100%;
                height: 100%;
                border-radius: 15px;
                display: none;
            }
        }
    }
    .title{
        width: 500px;
        height: 350px;
        padding: auto 4px;
    }
    @media(max-width:1208px){
        .slider{
            width: 750px;
            margin:  40px 10px;
            .arrow{
                width: 50px;
                float: left;
                margin-top: 180px;
                cursor: pointer;
            }
            .slide{
                    width: 600px;
                    height: 400px;
                    overflow: hidden;
                    position: relative;
                    float: left;
                    .show{
                        display: inline-block;
                    }
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    display: none;
                }
            }
        }
        .title{
            width: 350px;
            height: 350px;
            padding: 4px;
            margin-right: 10px;
        }
    }
    @media(max-width:1080px){
        .slider{
            width:550px;
            margin:  40px 10px;
            .arrow{
                width: 50px;
                float: left;
                margin-top: 130px;
                cursor: pointer;
            }
            .slide{
                    width: 400px;
                    height: 300px;
                    overflow: hidden;
                    position: relative;
                    float: left;
                    .show{
                        display: inline-block;
                    }
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    display: none;
                }
            }
        }
        .title{
            width: 350px;
            height: 350px;
            padding: auto 4px;
            margin-right: 10px;
        }
    }
    
    @media(max-width:870px){
        .slider{
            width:650px;
            margin:  40px 10px;
           
            .arrow{
                width: 40px;
                float: left;
                margin-top: 91px;
                cursor: pointer;
            }
            .slide{
                    width: 350px;
                    height: 210px;
                    overflow: hidden;
                    position: relative;
                    float: left;
                    .show{
                        display: inline-block;
                    }
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    display: none;
                }
            }
        }
        .title{
            width: 350px;
            height: 300px;
            padding: auto 4px;
            margin-right: 10px;
            h1{
                margin-top:0rem!important;
            }
            .mt-3{
                margin-top:0rem !important;
            }
            .lh-lg{
                line-height: 1.8 !important;;
            }
        }
    }
    
    @media(max-width:756px){
        .slider{
            width:100%;
            margin-bottom: 95% !important;
            text-align: center;
            .arrow{
                width: 30px;
                float: left;
                margin-top:85px;
                cursor: pointer;
            }
            .slide{
                    width: 76%;
                    height: 190px;
                    overflow: hidden;
                    position: relative;
                    float: left;
                    .show{
                        display: inline-block;
                    }
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    display: none;
                }
            }
        }
        .title{
            width: 90%;
            height: 220px;
            padding:  0px 1px !important;
            text-align: center;
            
            h1{
                margin-top: 10px !important;
                 }
                 p{
                    line-height: 0px;
                    margin: 0px;  
                 }
                 .btn{
                    margin-top: 20px !important;
                    font-size: 15px;
                    padding: 2px;
                 }
        }   
    }
    }

/*PRODUCTS*/
.tabs{
    ul{
        li{
            list-style-type: none;
            cursor: pointer;
        }
    }
}
.rot-icon{
    transition: all 1s ease-out;
    &:hover{
        transform: scale(.9);
    }
}
.w-img {
    height: 350px !important;
}
/*SHADOW*/
.shad{
    transition: all .5s ease-out;
    &:hover{
        box-shadow: 0 0  15px #f98260;
    }
}
.wid{
    width: 100%;
    height: 450px;
}

/*CALL*/
.main{
    width: 100%;
    height: 200px;
    .anim{
        width: 100%;
        position:absolute;
        top: 60%;
        animation-name: drive;
        animation-duration: 2000ms;
        animation-fill-mode: both;
        animation-iteration-count:normal;
    }
    @keyframes drive {
        from{ 
            transform: translatey(100px);
        }
        to{
            transform: translatey(-80px);
        }
        
    }
    @media (max-width:574px){
        margin-bottom: 85%;

    }

}
